<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>

    <script type="text/javascript" src="../public/javascripts/jquery-1.12.0.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="../public/javascripts/user.js"></script>
    <script type="text/javascript" src="../public/javascripts/drivers.js"></script>
    <script type="text/javascript" src="../public/javascripts/bootstrap_toggle.js"></script>
    <link href="../public/stylesheets/bootstrap_toggle.css" rel="stylesheet">

    <% include partials/head.ejs%>
    <style>


        .led-green {
            margin: 0 auto;
            width: 20px;
            height: 20px;
            background-color: #ABFF00;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
        }
        .led-red {
            margin: 0 auto;
            width: 20px;
            height: 20px;
            background-color: #F00;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
        }
        .container {
            position: relative;
            width: 100%;
            max-width: 400px;
        }

        .container img {
            width: 100%;
            height: auto;
        }

        .container .btn {
            position: absolute;
            top: 80%;
            left: 80%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            padding: 8px 18px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            opacity: 0.7;
        }

        .container .btn:hover {
            background-color: #efad4f;
        }
    </style>
</head>
<body>

<div id="wrapper">
    <header>
        <%include ./partials/header.ejs%>
    </header>
    <div id="page-wrapper">
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <br ><form action = "/property/userWiseProperty/date" method="post">
                    <!---->
                </form>

            </div>
        </div>
        <!-- InstanceBeginEditable name="ContentRegion" -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Customer List

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table style="font-size: smaller" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile No.</th>
                                    <th>Sex</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%

                                for(var i=0; i < data.customers.length; i++) {
                                if(i%2==0){%>
                                <tr class="even gradeC">
                                    <td><%= i+1 %></td>
                                    <td><%= data.customers[i].name %></td>
                                    <td><%= data.customers[i].email_id %></td>
                                    <td><%= data.customers[i].mobile_no %></td>
                                    <td><%= data.customers[i].gender %></td>


                                </tr>
                                <%}else{%>

                                    <td><%= i+1 %></td>
                                    <td><%= data.customers[i].name %></td>
                                    <td><%= data.customers[i].email_id %></td>
                                    <td><%= data.customers[i].mobile_no %></td>
                                    <td><%= data.customers[i].gender %></td>

                                <%}}%>


                                </tbody>

                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        </div>
</div>
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>
</body>
