<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>

    <script type="text/javascript" src="../public/javascripts/jquery-1.12.0.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="../public/javascripts/vehcile.js"></script>
    <script type="text/javascript" src="../public/javascripts/bootstrap_toggle.js"></script>
    <link href="../public/stylesheets/bootstrap_toggle.css" rel="stylesheet">

    <% include partials/head.ejs%>
    <style>


        .led-green {
            margin: 0 auto;
            width: 24px;
            height: 24px;
            background-color: #ABFF00;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
        }
        .led-red {
            margin: 0 auto;
            width: 24px;
            height: 24px;
            background-color: #F00;
            border-radius: 50%;
            box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
        }
        .container {
            position: relative;
            width: 100%;
            max-width: 400px;
        }

        .container img {
            width: 100%;
            height: auto;
        }

        .container .btn {
            position: absolute;
            top: 80%;
            left: 80%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            color: white;
            padding: 8px 18px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            opacity: 0.7;
        }

        .container .btn:hover {
            background-color: #efad4f;
        }
    </style>
</head>
<body>

<div id="wrapper">
    <header>
        <%include ./partials/header.ejs%>
    </header>
    <div id="page-wrapper">
        <br/>
        <div class="row">
            <div class="col-lg-12">
                <br ><form action = "/property/userWiseProperty/date" method="post">
                    <!---->
                </form>

            </div>
        </div>
        <!-- InstanceBeginEditable name="ContentRegion" -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Vehicle List

                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table style="font-size: smaller" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                <tr>
                                    <th>Sr. no.</th>
                                    <th>Vehicle Type</th>
                                    <th>Model</th>
                                    <th>Vehicle Number</th>
                                    <th>Driver</th>
                                    <th>Mobile no.</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                </tr>
                                </thead>
                                <tbody>
                                <%
                                for(var i=0; i < data.Vehicles.length; i++) {
                                if(i%2==0){%>
                                <tr class="even gradeC">
                                    <td><%= i+1 %></td>
                                    <td><%= data.Vehicles[i].vehicle_type %></td>

                                    <td><%= data.Vehicles[i].model %></td>
                                    <td><%= data.Vehicles[i].vehicle_number %></td>
                                    <td><%= data.Vehicles[i].name %></td>
                                    <td ><%= data.Vehicles[i].mobile_no %></td>

                                    <%
                                    if(data.Vehicles[i].status==='Deactivate'){%>
                                    <td><div class="led-red"></div></td>
                                    <%}else{%>
                                    <td><div class="led-green"></div></td>
                                    <%}%>
                                    <td>
                                        <button onclick="setVehicleDetails(<%= data.Vehicles[i].vehicle_id %>)"
                                                class="btn btn-warning btn-circle" data-toggle="modal"
                                                data-target=".bs-example-modal-md"><i class="fa fa-pencil"></i></button></td>




                                </tr>
                                <%}else{%>
                                <tr>
                                <td><%= i+1 %></td>
                                <td><%= data.Vehicles[i].vehicle_type %></td>

                                <td><%= data.Vehicles[i].model %></td>
                                <td><%= data.Vehicles[i].vehicle_number %></td>
                                <td><%= data.Vehicles[i].name %></td>
                                <td ><%= data.Vehicles[i].mobile_no %></td>

                                <%
                                if(data.Vehicles[i].status==='Deactivate'){%>
                                <td><div class="led-red"></div></td>
                                <%}else{%>
                                <td><div class="led-green"></div></td>
                                <%}%>
                                <td>
                                    <button   onclick="setVehicleDetails(<%= data.Vehicles[i].vehicle_id %>)"    class="btn btn-warning btn-circle" data-toggle="modal"
                                            data-target=".bs-example-modal-md"><i class="fa fa-pencil"></i></button></td>
                                </tr>

                                <% }
                                    }%>



                                </tbody>

                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div id="vehcileEditModal" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close btn btn-danger btn-circle" data-dismiss="modal">
                            <i class="fa fa-times"></i>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Edit Vehicles</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form id="form2" enctype="multipart/form-data" role="form">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Vehicle Type</label>
                                                        <select id="vehicle_Type" name="vehicle_Type" class="form-control">
                                                            <option>Select</option>
                                                            <%for(var i=0;i<data.VehicleTypes.length;i++){%>
                                                            <option value='<%=data.VehicleTypes[i].vehicle_id%>'><%=data.VehicleTypes[i].vehicle_type%></option>
                                                            <%}%>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Company</label>
                                                        <input id="make" name="make" class="form-control" placeholder="Maruti, Toyoto, hyundai">

                                                        </input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Model</label>
                                                        <input id="model" name="model" class="form-control" placeholder="Swift, Innova, Verna">
                                                    </div>
                                                </div>


                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Vehicle Number</label>
                                                        <input id="vehicle_number" name="vehicle_number" class="form-control">
                                                        </input>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>RC No.</label>
                                                        <input id="rc_no" type="text" name="rc_no" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Upload RC</label>
                                                        <input id="rcImage" name="rcImage"  class="form-control" type="file">
                                                        </input>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Permit No.</label>
                                                        <input id="permitNo" name="permitNo"  class="form-control" type="text">

                                                        </input>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Upload Permit</label>
                                                        <input id="permitImage" name="permitImage"  class="form-control" type="file"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Insurance No.</label>
                                                        <input id="insuranceNo" name="insuranceNo"  class="form-control" type="text">

                                                        </input>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Upload Insurance</label>
                                                        <input id="insuranceImage" name="insuranceImage"  class="form-control" type="file"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>Driver</label>
                                                        <input readonly id="driverName" name="driverName" class="form-control">

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="hidden" id="vehicle_id" name="vehicle_id" class="form-control">

                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>


                                    </div>
                                </div>
                                <!-- /.row (nested) -->
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="update" onclick="UpdateVehicle()" class="btn btn-success btn-default btn-lg">
                            Update
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>
</body>
